<div class="footerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <h5>Quick Links</h5>
                <ul class="quicklinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Post a Job</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <h5>Jobs By Functional Area</h5>
                <ul class="quicklinks">
                    <li><a href="#">Information Technology</a></li>
                    <li><a href="#">Banking/Financial Services</a></li>
                    <li><a href="#">Healthcare</a></li>
                    <li><a href="#">Sales & Marketing</a></li>
                    <li><a href="#">Education/Training</a></li>
                    <li><a href="#">Engineering</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <h5>Jobs By Industry</h5>
                <ul class="quicklinks">
                    <li><a href="#">IT Services</a></li>
                    <li><a href="#">Banking</a></li>
                    <li><a href="#">Healthcare</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Manufacturing</a></li>
                    <li><a href="#">Real Estate</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <h5>Contact Us</h5>
                <div class="address">
                    651 N Broad St, Suite 201, Middletown,<br>
                    Zip Code 19709, New Castle, Delaware, USA
                </div>
                <div class="email">
                    <a href="mailto:info@jobportal.com">info@jobportal.com</a>
                </div>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>