<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="https://portal.workafy.com/sitesetting_images/thumb/workafy-1748826768-353.png" alt="JobsOrbit">
      </a>
  
      <!-- Toggler for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-lg-center">
          <li class="nav-item"><a class="nav-link active" href="/index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/jobs.html">Jobs</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Companies</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact.html">Contact Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sign in</a></li>
          <li class="nav-item"><a class="nav-link register" href="#">Register</a></li>
  
          <!-- 🌍 Language Switcher -->
          <li class="nav-item dropdown ms-3">
            <a class=" dropdown-toggle d-flex align-items-center" href="#" id="languageDropdown" style="color: #0d0e0d;"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-globe me-1"></i>
               Language
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">हिन्दी (Hindi)</a></li>
              <li><a class="dropdown-item" href="#">Español (Spanish)</a></li>
              <li><a class="dropdown-item" href="#">Français (French)</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
